@font-face {
    font-family: Dokdo;
    src: url(Dokdo-Regular.ttf); /* Korean font */
  }

@font-face {
    font-family: Determination Sans;
    src: url(DeterminationSansWeb.ttf)
}

@font-face {
    font-family: Determination Mono;
    src: url(DeterminationMonoWeb.ttf)
}

@font-face {
    font-family: 'Undertale Papyrus';
    src: url('papyrus-webfont.eot');
    src: url('papyrus-webfont.eot?#iefix') format('embedded-opentype'),
         url('papyrus-webfont.woff2') format('woff2'),
         url('papyrus-webfont.woff') format('woff'),
         url('papyrus-webfont.ttf') format('truetype'),
         url('papyrus-webfont.svg#undertale_papyrusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Undertale Sans';
    src: url('sans-webfont.eot');
    src: url('sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('sans-webfont.woff2') format('woff2'),
         url('sans-webfont.woff') format('woff'),
         url('sans-webfont.ttf') format('truetype'),
         url('sans-webfont.svg#undertale_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: Determination Sans, Dokdo;
    color: white;
    font-size: 2em;
    background-color: black;
    width: 100vw;
    height: 100vh;
    
    
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

body.transition {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
}

body.flash {
    animation: blinker2 1s step-start infinite;
    animation-iteration-count: 10;
    
}

#sans.flash {
    animation: blinker 1s step-start infinite;
    animation-iteration-count: 10;
}

h1{
    text-align: center;
    left: 50%; 
    

    
    
    
}

h2 {
   text-align: center;
    
    font-size: 1em;
    
   left: 50%;
    
}

#credits {
    text-align: center;
    font-size: .75em;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.gameBoard {
    
    display: none; /* grid */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    
      
}

#toriel2 {
    display: none;
    padding: 5px;
    
}

#papyrus2 {
    display: none;
    padding: 5px;
   
}

#undyne2 {
    display: none;
    padding: 5px;
}

#playerCharacter {
    display: none; /* should be none */
    
    
}




.cell {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: crosshair;
}

#startGame, #options, #initButton, #continuebutton, #readnote, #continuebutton2 {
    display: flex;
    justify-content: center;
    background: black;
    align-items: center;
    font-size: 1.5em;
    color: white;
    font-family: Determination Mono, Dokdo;
    width: auto;
    height: auto;
    margin: 50px;
    border: none;
    cursor: crosshair;
    border-radius: 4px;
}

#startGame {
    display: none;
}

#options {
    display: none;
}

#continuebutton {
    display: none;
}

#readnote {
    display: none;
}

#continuebutton2 {
    display: none;
}

#startGame:hover, #continuebutton2:focus, #continuebutton2:hover, #options:hover, #startGame:focus, #options:focus, #initButton:hover, #initButton:focus, #continuebutton:hover, #continuebutton:focus, #readnote:focus, #readnote:hover {
    cursor: crosshair;
    transform: scale(1.0);
    box-shadow: 0 0 20px 1px;
}

.info {
    font-family: Determination Mono;
    text-align: center;
}

.info2 {
    font-family: Determination Mono;
    justify-content: center;
}

#charactercontainer {
    display: none;
}

.blink {
    animation: blinker 1s step-start infinite;
    font-family: Determination Mono;
    color: red;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  @keyframes blinker2 {
    50% {
      opacity: 0;
      background-color: red
    }
  }

.startbuttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.characters {
    display: flex;
    justify-content: space-around;
    
}

.characterstext {
    display: flex;
    justify-content: space-around;
}

#toriel:hover, #toriel:focus, #papyrus:hover, #papyrus:focus, #undyne:hover, #undyne:focus  {
    cursor: crosshair;
    border-radius: 8px;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px yellow;
}

.cell:hover {
    cursor: pointer;
    transform: scale(1.0);
    box-shadow: 0 0 20px 1px;
  }

  #startingScreen{
      display:none;
      
  }

  #startingScreen.transition {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
  }

  #characterSelection {
    display: none;
}

#characterSelection.transition, #continuebutton.transition, #readnote.transition {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
}

#undyne2.transition, #papyrus2.transition, #toriel2.transition {
    animation-name: FadeIn;
    animation-duration: 6s;
    transition-timing-function: linear;
}

#undynedialogue.transition, #papyrusdialogue.transition, #torieldialogue.transition {
    animation-name: FadeIn;
    animation-duration: 6s;
    transition-timing-function: linear;
}

#undynedialogue, #torieldialogue, #papyrusdialgoue {
    

}

#papyrus2.mover {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

#sans.mover {
        -webkit-animation: mover 2s infinite  alternate;
        animation: mover 2s infinite  alternate;
    
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

#papyrusdialogue.mover {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}



#initButton {
    font-size: 3em;
}

#undynedialogue {
    display: none;
    flex-wrap: wrap;
    width: 33%;
    color: orange;
}

#torieldialogue {
    display: none;
    flex-wrap: wrap;
    width: 33%;
    align-self: center;
    
}

#papyrusdialogue {
    display: none;
    flex-wrap: wrap;
    width: 33%;
    color: deeppink;
    font-family: 'Undertale Papyrus';
    
}


#sansdialogue {
    display: none;
    color: red;
    margin-left: auto;
    font-family: 'Undertale Sans';
    
    
}


#sans {
     display: none;
     margin-left: 0;
}


  
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
 
  /*
  @-moz-keyframes FadeIn {
    0% {
      opacity: 0;

    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  */