@font-face {
    font-family: Dokdo;
    src: url(Dokdo-Regular.ttf); /* Korean font */
  }


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: Determination Sans, Dokdo;
    color: white;
    font-size: 2em;
    background-color: black;
}

h1{
    text-align: center;
}

.credits {
    text-align: center;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.gameBoard {
    
    display: none; /* grid */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    
      
}


.cell {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#startGame, #options, #initButton {
    display: flex;
    justify-content: center;
    background: black;
    align-items: center;
    font-size: 1.5em;
    color: white;
    font-family: Determination Mono, Dokdo;
    width: auto;
    height: auto;
    margin: 50px;
    border: none;
    cursor: crosshair;
}



#startGame:hover, #options:hover, #startGame:focus, #options:focus, #initButton:hover, #initButton:focus {
    cursor: crosshair;
    transform: scale(1.0);
    box-shadow: 0 0 20px 1px;
}

.info {
    font-family:Determination Mono;
    text-align: center;
}

.blink {
    animation: blinker 1s step-start infinite;
    font-family: Determination Mono;
    color: red;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.startbuttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: pointer;
    transform: scale(1.0);
    box-shadow: 0 0 20px 1px;
  }

  #startingScreen{
      display:none;
  }

